.Setting {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: #434960;
  border: 2px solid silver;
  box-shadow: 24px;
  font-size: 20px;
  min-height: 50vh;
  input {
    width: 80px;
  }
  .title {
    color: #edc57e;
    display: flex;
    border-bottom: 1px solid silver;
    text-align: left;
    padding: 7px 23px 18px 20px;
    font-size: 20px;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      float: right;
      &:hover,
      &:focus {
        color: #000;
      }
    }
    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      float: right;
    }
  }
  .mini-title {
    color: #edc57e;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.8px;
    margin: 15px 0px 10px 20px;
  }
  .title-time {
    font-weight: bold;
    color: #cc9d7d;
  }
  .setting-time {
    padding-bottom: 12px;
    margin: 0px 20px;
    border-bottom: 1px solid silver;

    .Line-1 {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px 20px 0px;
      .Section {
        text-align: left;
        width: 90px;
        label {
          font-size: 15px;
          font-weight: 800;
          color: #cc9d7d;
          margin-bottom: 10px;
        }
      }
    }
    .Line-2 {
      display: flex;
      justify-content: space-between;
      .input {
        margin-left: 100px;
      }
    }
  }
  .setting-theme {
    padding-bottom: 12px;
    margin: 0px 20px;
    border-bottom: 1px solid silver;
    justify-content: space-between;
    display: flex;
    .title-theme {
      font-weight: bold;
      color: #cc9d7d;
    }
    .bgcolor-1 {
      background-color: #d0a9ca;
      border-radius: 10px;
    }
    .bgcolor-2 {
      background-color: #64c385;
      border-radius: 10px;
    }
    .bgcolor-3 {
      background-color: #e97248;
      border-radius: 10px;
    }
    .bgcolor-4 {
      background-color: #81b2a9;
      border-radius: 10px;
    }
    .bgcolor-5 {
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      border-radius: 10px;
    }
    .bgcolor-6 {
      background: rgb(176, 191, 194);
      background: linear-gradient(
        293deg,
        rgba(176, 191, 194, 1) 15%,
        rgba(58, 71, 65, 1) 33%,
        rgba(92, 116, 112, 1) 49%,
        rgba(141, 160, 164, 1) 66%,
        rgba(32, 39, 35, 1) 85%
      );
      border-radius: 10px;
    }
    .bgcolor-7 {
      background-color: #85ffbd;
      background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
      border-radius: 10px;
    }
    .bgcolor-8 {
      background-color: #a9c9ff;
      background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);;
      border-radius: 10px;
    }
  }
  .save{
    float: right;
    color:#f7ce68;
    margin-right: 10px;
    font-size: medium;
    font-weight: bold;
  }
}
